body {
  background-image: url('../images/fire_background.jpg');
  background-size: 100vw auto;
  /* ширина картинки равна ширине окна, высота автоматически */
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: black;
  background-size: cover;
  background-position: center;
  font-family: 'Merriweather', serif;
}

h1,h2 {
  font-family: 'Cinzel', serif;
}


.btn-warning {
  background: linear-gradient(135deg, #d94e1f, #f29f05);
  border: none;
  transition: all 0.3s ease;
}

.btn-warning:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(242, 159, 5, 0.6);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
}


/* styles for results of map game START */
#result-container {
  border-radius: 12px;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  transition: border-color 0.4s ease, box-shadow 0.4s ease;
}

#result {
  font-size: 1.1rem;
  font-family: 'Merriweather', serif;
  margin-top: 0.8rem;
  font-weight: 500;
}

#result-container h2 {
  font-family: 'Cinzel', serif;
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
  text-align: center;
  letter-spacing: 1px;
  color: #222;
}
/* styles for results of map game END */


/* For   */
@media (max-width: 768px) {
  #map, #next_to_map {
    height: 50vh !important;
  }
}

iframe {
  width: 100%;
  height: 40vh;
  border: none;
  clip-path: inset(1.8cm); /* cut 2 см on all sides */
}

/* container for pop-up person */
  .assistant {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    z-index: 9999;
    cursor: pointer;
    animation: float 3s ease-in-out infinite;
  }

  /* pop-up person */
  .assistant img {
    width: 100%;
    pointer-events: none;
  }

  .speech-bubble{
    background: url('images/speech.png') no-repeat center/contain;
  }

  @keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
  }

  @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
  }

  /* styles for appearing speech START */

#result {
  font-size: 1.2rem;
  line-height: 1.6;
  white-space: pre-wrap; /* сохраняет переносы */
  min-height: 4em;
  transition: opacity 0.3s ease;
}

.speech-bubble {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  animation: fadeIn 1s ease-in-out;
}

#collectionModal::-webkit-scrollbar {
  width: 6px;
}
#collectionModal::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 3px;
}


  /* styles for appearing speech END */
