body {
  background-image: url('../images/fire_background.jpg');
  background-size: 100vw auto;
  /* ширина картинки равна ширине окна, высота автоматически */
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: black;
  background-size: cover;
  background-position: center;
  font-family: 'Merriweather', serif;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 0;
}

h1,h2 {
  font-family: 'Cinzel', serif;
}

.btn-warning {
  background: linear-gradient(135deg, #d94e1f, #f29f05);
  border: none;
  transition: all 0.3s ease;
}

.btn-warning:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(242, 159, 5, 0.6);
}

.container {
  position: relative;
  z-index: 1;
}
.container-fluid{
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.5);
}


/* ================== the map and the google-street-view STYLES ================== */
@media (max-width: 768px) {
  #map, #next_to_map {
    height: 50vh !important;
    z-index:1;
  }
}

iframe {
  width: 100%;
  border: none;
  clip-path: inset(1.8cm); /* cut 2 см on all sides */
}

/* ================================================================================== */

/* ==================================== SPEECH STYLES =============================== */
#result-container {
  padding: 1.5rem;
  width: 100vw;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  transition: border-color 0.4s ease, box-shadow 0.4s ease;
  z-index: 100;
}
#speech-text {
  flex: 1;
}
#character-img {
  width: 150px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
  z-index: 100;
  cursor: pointer;
  animation: float 3s ease-in-out infinite;
}

#dialogue-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.hidden {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.visible {
  opacity: 1;
}
/* =================================================================================== */
